{% extends "base.html" %}

{% block content %}
<h1>Sign up to start your blog!</h1>

{% if error %}
    <p class="error">{{signup_error}}</p>
{% endif %}
<form action="/signup" method='post'>
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
            </td>
    </table>
    <input type="submit" value="Sign Me Up!">
</form>

{% endblock %}